.teamLogo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.gameScore {
    font-size: 28px;
    float: right;
}

#noGames {
    font-size: 28px;
    color: #333333
}

.gamesAlert {
    padding-left: 15px;
}
#liveGames {
    padding-left: 15px;
}

.minContent {
    min-height: 500px;
}

.react-autosuggest__container {
    position: relative;
    display: inline;
  }
  
.react-autosuggest__input {
  width: 80%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 20px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 97.5%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  left: 20px;
  
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.footer {
  font-size: 12px;
  color: #777;
}
@media (max-width:600px)  { 
  .react-autosuggest__suggestions-container--open {
    width: 70%;
  }
  
  .react-autosuggest__input {
    width: 70%;
  }

  #searchButton {
    display: inline-flex;
    height: 30px;
    padding: 0;
  }

}

#searchButton {
  display: inline-flex;
  height: 30px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px
}

.trackWarning {
  padding-left: 15px;
}

.statHeader {
  display: inline;
  font-weight: bold;
}
.stat {
  display: inline;
}

.content {
  margin-bottom: 10px;
  position: relative;
  height: 100%;
}

#removePlayer {
  position: absolute;
  top: 5px;
  right: 5px;
}

.trackedContent {
  border-top: 1px;
  border-bottom: 1px;
  position: relative;
}